Flask==3.0.3
Flask-SocketIO==5.3.6
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.1
pyDH==0.1.6
rsa==4.9
pycryptodome==3.20.0
WTForms==3.1.2
python-dotenv==1.0.1