<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <div class="welcome-message">
                Welcome, {{ username }}!
            </div>
            <div class="theme-selector">
                <label for="theme"> Choose a theme: </label>
                <select id="theme" onchange="changeTheme()">
                    <option value="blue">Blue</option>
                    <option value="dark">Dark</option>
                    <option value="purple">Purple</option>
                </select>
            </div>
            <div id="clock" class="navbar-item"></div>
            <div class="logout-link">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>

    <div class="chat-container">
        <div class="wrapper online-users-wrapper">
            <h1>Online users</h1>
            <div id="online-users"></div>
        </div>

        <div class="wrapper messages-wrapper">
            <div id="messages"></div>
            <div class="input-container">
                <input type="text" id="message-input" placeholder="Enter your message">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

    <script>
        // Inicjalizacja Socket.IO
        const socket = io();
        let aesKey;
        const currentUser = '{{ username }}';
    
        // Połączenie Socket.IO
        socket.on('connect', function() {
            socket.emit('join');
            importAESKey().then(() => {
            });
        });
        
        // Odbieranie wiadomości
        socket.on('message', function(data) {
            if (data.type === 'system') {
                // Obsługa wiadomości systemowych
                $('#messages').append(`<div class="message system"><em>${data.msg}</em></div>`);
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
            } else {
                // Odszyfrowywanie i wyświetlenie wiadomości użytkownika
                decryptAES(data.msg).then(decryptedMessage => {
                    const timestamp = data.timestamp;
                    if (data.username !== currentUser) {
                        $('#messages').append(`<div class="message received"><strong>${data.username}</strong>: ${decryptedMessage} <span class="timestamp">${timestamp}</span></div>`);
                        $('#messages').scrollTop($('#messages')[0].scrollHeight);
                    }
                }).catch(error => {
                    console.error('Decryption error:', error);
                });
            }
        });

        // Odbieranie listy aktywnych użytkowników
        socket.on('activeUsers', function(users) {
            const userList = users.join(', ');
            $('#online-users').text(userList);
        });
    
        // Wysyłanie wiadomości
        function sendMessage() {
            const message = $('#message-input').val();
            if (message.trim() !== "") {
                const timestamp = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                $('#messages').append(`<div class="message sent"><strong>You</strong>: ${message} <span class="timestamp">${timestamp}</span></div>`);
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
                socket.emit('message', {msg: message, username: currentUser});
                $('#message-input').val('');
            }
        }
        document.getElementById('message-input').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                sendMessage();
            }
        });
        
        // Import klucza AES
        async function importAESKey() {
            // Przetwarzanie klucza AES na odpowiedni format
            const keyMaterial = new TextEncoder().encode('secret_aes_key');
            return crypto.subtle.digest('SHA-256', keyMaterial).then(hash => {
                return crypto.subtle.importKey(
                    'raw', // Typ klucza
                    hash, // Zahashowany klucz
                    { name: 'AES-CBC' }, // Algorytm klucza
                    false, // Eksportowalność klucza
                    ['encrypt', 'decrypt'] // Operacje dozwolone na kluczu
                ).then(key => {
                    aesKey = key; // Zapisanie zaimportowanego klucza
                });
            });
        }
        
        // Odszyfrowywanie wiaddomości
        async function decryptAES(encryptedHex) {
            if (!aesKey) {
                await importAESKey(); // Jeśli klucz nie jest zaimportowany, importuj go
            }

            const encryptedBytes = hexToBytes(encryptedHex); // Konwersja zakodowanego tekstu na bajty
            if (encryptedBytes.length < 16) {
                throw new Error("Invalid encrypted message length"); // Sprawdzenie długości zaszyfrowanej wiadomości
            }

            const iv = encryptedBytes.slice(0, 16); // Wyodrębnienie wektora inicjalizacyjnego
            const ct = encryptedBytes.slice(16); // Wyodrębnienie zaszyfrowanego tekstu

            const decrypted = await crypto.subtle.decrypt(
                { name: 'AES-CBC', iv: iv }, // Parametry deszyfracji
                aesKey, // Klucz AES
                ct // Zaszyfrowany tekst
            );

            return new TextDecoder().decode(decrypted); // Zwrócenie odszyfrowanej wiadomości
        }

        // Pobranie klucza publicznego
        async function fetchPublicKey() {
            const response = await fetch('/get_public_key')
            const data = await response.json(); // Konwersja odpowiedzi na JSON
            return rsa.importKey(data.public_key); // Import klucza publicznego
        }

        // Wysyłanie zaszyfrowanego klucza AES
        async function sendEncryptedAESKey() {
            const publicKey = await fetchPublicKey(); // Pobranie klucza publicznego
            const encryptedAESKey = rsa.encrypt(aesKey, publicKey); // Zaszyfrowanie klucza AES kluczem publicznym
            await fetch('/set_encrypted_aes_key', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ encrypted_aes_key: encryptedAESKey }) // Wysłanie zaszyfrowanego klucza AES na serwer
            });
        }
    
        // Konwersja tekstu na bajty
        function hexToBytes(hex) {
            const bytes = [];
            for (let c = 0; c < hex.length; c += 2) {
                bytes.push(parseInt(hex.substr(c, 2), 16));
            }
            return new Uint8Array(bytes); // Zwrócenie bajtów
        }

        function changeTheme() {
            const theme = document.getElementById('theme').value;
            document.body.className = '';
            if (theme === 'dark') {
                document.body.classList.add('dark-theme');
            }
            else if (theme === 'purple') {
                document.body.classList.add('purple-theme');
            }
            else
            {
                document.body.classList.add('blue-theme');
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            document.body.classList.add('blue-theme');
            startClock();
        });

        function startClock() {
            const clock = document.getElementById('clock');
            setInterval(() => {
                const now = new Date();
                const hours = String(now.getHours()).padStart(2, '0');
                const minutes = String(now.getMinutes()).padStart(2, '0');
                const seconds = String(now.getSeconds()).padStart(2, '0');
                clock.textContent = `${hours}:${minutes}:${seconds}`;
            }, 1000);
        }
    </script>
</body>
</html>